.services-container {
    margin: 70px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 16px;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 17px 28px 30px;
    border-left: 5px solid var(--golden-color);
    background-color: #fff;
}

.service h1 {
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-blue-color);

}

.service .web-icon {
    cursor: pointer;
    color: var(--dark-blue-color);
    font-size: 20px;

}

@media screen and (max-width : 1280px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 50px;
    }
}