.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 80px 0;
}

.dashboard-header img {
    width: 180px;
}

.dashboard-processes {
    padding: 60px 80px;
}

.dashboard-title-section {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
}

.dashboard-title-section h1 {
    color: var(--golden-color);
    font-weight: 400;
}

.dashboard-title-section p {
    color: var(--dark-blue-color);
}

.action-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 20px;
    padding: 20px 20px 0 0;
    background-color: var(--light-blue-color);
}

.page-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px 0;
    margin: 80px 104px 0;
}

.page-title .action-btn {
    padding: 10px 24px;
    background-color: var(--light-blue-variant-color);
}

.page-title h1 {
    color: var(--golden-color);
}

@media screen and (max-width: 1024px) {
    .page-title {
        margin: 80px 20px 0;
    }
}