.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 80px 0;
}

.dashboard-header img {
    width: 120px;
}

.dashboard-processes {
    padding: 60px 80px;
}

.dashboard-title-section {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px;
}
.dashboard-title-section h1 {
  font-size: 36px;
  color: var(--golden-color);
  font-weight: 400;
}
.dashboard-title-section p {
  color: var(--dark-blue-color);
}

.action-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 20px;
    padding: 20px 20px 0 0;
    background-color: var(--light-blue-color);
}