.about-us {
    margin: 280px auto 0 104px;
}

.about-us-btn {
    margin: 40px 0;
}

.mision-vision-container {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 300px;
    gap: 60px 0;
}

.oma-value h1 {
    color: var(--golden-color);
    font-size: 40px;
    font-weight: 400;
}

.oma-value p {
    color: var(--dark-blue-color);
}

.valores-section {
    background-color: var(--dark-blue-color);
    margin: 151px 0 0;
    padding: 68px 253px 72px;
}

.valores-section .c-header-container h3 {
    color: var(--silver-color);
}

.valores-section .c-header-container h1 {
    color: var(--silver-color);
}

.valores-container {
    margin: 50px 0 0;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}
.value p{
  text-align: center;
}

.valores-container .web-icon {
    color: var(--golden-color);
    font-size: 64px;
}

.founder-section { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 180px 160px 220px 148px;
}

.founder-section .title-container {
    width: 50%;
    margin: 0;
}
.founder-section .title-container h3 { 
    color: var(--dark-blue-color);
}
.founder-section .title-container h1 { 
    color: var(--golden-color);
}

.founder-section .title-container p { 
    color: var(--dark-blue-color);
    padding: 0 0 0 30px;
}

/* .personal-resume {
    margin: 0 0 300px;
} */


.personal-resume .c-header-container p {
display: block;
color: var(--dark-blue-color);
}

.carousel-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 150px;
    margin: 50px 0 0;
}

