.mision-vision {
    display: flex;
    flex-direction: column;
    gap: 60px 0;
    max-width: 700px;
}



.oma-value h1 {
    color: var(--golden-color);
    font-size: 40px;
    font-weight: 400;
}

.oma-value p {
    color: var(--dark-blue-color);
    font-size: 20px;
}

.valores {
    background-color: var(--dark-blue-color);
    margin: 160px 0 0;
    padding: 68px 253px 72px;
}

.valores .c-header-container h3 {
    color: var(--silver-color);
}

.valores .c-header-container h1 {
    color: var(--silver-color);
}

.valores-container {
    margin: 50px 0 0;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}

.value p {
    text-align: center;
}

.valores-container .web-icon {
    color: var(--golden-color);
    font-size: 64px;
}

.founder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0;
}

.founder .title-container {
    width: 50%;
    margin: 0;
}

.founder .title-container h3 {
    color: var(--dark-blue-color);
}

.founder .title-container h1 {
    color: var(--golden-color);
}

.founder .title-container p {
    color: var(--dark-blue-color);
    padding: 0 0 0 30px;
}


.personal-resume .c-header-container p {
    display: block;
    color: var(--dark-blue-color);
}

.carousel-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 150px;
    margin: 50px 0 0;
}

@media screen and (max-width : 430px) {
    .oma-value p {
        font-size: 16px;
    }

    .valores {
        padding: 30px 18px 50px;
    }

    .valores-container {
        display: flex;
        flex-direction: column;
        gap: 60px 0;
    }

    .founder {
        align-items: center;
        flex-direction: column;
        gap: 60px 0;
    }

    .founder .title-container {
        width: 90%;
    }

    .founder .image-section {
        height: 510px;
    }

    .personal-resume .c-header-container p {
        font-size: 16px;
    }

    .carousel-section {
        gap: 0 20px;
    }

}