.primary-btn {
    display: flex;
    align-items: center;
    gap: 0 7px;
    padding: 9px 18px;

    color: var(--silver-color);
    font-size: 14px;
    background-color: transparent;
    border: 1px solid var(--silver-color);
    border-radius: 20px;
}