.clients-container {
    display: grid;
    grid-template-columns: repeat(2, 264px);
}

.clients-container .client {
    border: 1px solid var(--golden-color);
}

.clients-container .client img {
    width: 100%;
}



@media screen and (max-width : 1390px) {
    .clients-container {
        grid-template-columns: repeat(2, 244px);
    }
}

@media screen and (max-width : 1140px) {
    .clients-container {
        grid-template-columns: repeat(2, 200px);
    }
}

@media screen and (max-width : 880px) {
    .clients-container {
        justify-content: center;
    }
}


@media screen and (max-width : 480px) {
    .clients-container {
        justify-content: center;
        grid-template-columns: repeat(1, 70%)
    }
}