.clients-container{
    display: grid;
    grid-template-columns: repeat(2, 304px);
}

.clients-container .client {
    border: 1px solid var(--golden-color);
}
.clients-container .client img {
    width: 100%;
}

@media screen and (max-width : 430px) {
    .clients-container {
        justify-content: center;
        grid-template-columns: repeat(1 , 80%)
    }
}