.login {
    display: flex;
    height: 100vh;
}

.login .bg-img {
    width: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login .bg-img img {
    cursor: pointer;
    width: 150px;
    margin : 50px auto 0 80px;
}

.login .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 50vw;
    max-width: 650px;
    margin: 0 90px;
}

.login .form h1 {
    font-weight: 400;
    color: var(--golden-color);
}


#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px 0;

}

.input-group .password-icon {

    position: absolute;
    top: 50%;
    right: 0;
    font-size: 24px;
    color: #00000038;

    transform: translateY(-100%);
}

.msg-error {
    display: flex;
    align-items: center;
    gap: 10px;
    width: max-content;
}


#login-form .primary-btn {
    align-self: flex-start;
}

@media screen and (max-width : 768px) {
    .login {
        flex-direction: column;
        gap: 40px 0;
    }

    .login .bg-img {
        width: auto;
        height: 300px;
    }

    .login .form {
        width: auto;
        margin: 0 40px;
    }
}
@media screen and (max-width : 450px) {
    .login .bg-img img {
        margin : 20px auto 0 30px;
    }
}