.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 0 30px;
}

.hero .title-container {
    padding: 0 0 80px;
}


.section {
    margin: 0 124px;
}

@media screen and (max-width : 1440px) {
    .section {
        margin: 0 104px;
    }

}

@media screen and (max-width : 1360px) {
    .section {
        margin: 0 80px;
    }
}

@media screen and (max-width : 1033px) {
    .section {
        margin: 0 30px;
    }
}

@media screen and (max-width : 480px) {
    .section {
        margin: 0 18px;
    }
}