.documentos-de-interes .title-container h1 {
    color: var(--golden-color);
}

.documentos-de-interes .title-container h3 {
    color: var(--dark-blue-color);
}

.documentos-de-interes .documentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 16px;
    margin: 0 0 140px;
    padding: 0 104px;
}

.documento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-blue-color);
    border-radius: 8px;
    padding: 20px 18px;
    transition: all 0.6s ease;
}

.documento .document-info h1 {
    font-size: 1.875rem;
}

.documento .action-btn {
    align-self: flex-end;
}

.documento .document-desc {
    font-size: 1rem;
    margin: 10px 0;
}

.documento .acciones {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 30px;
    margin: 40px 0 0;
}


.documento:hover {
    transform: scale(1.02);
}


@media screen and (max-width: 1330px) {
    .documentos-de-interes .title-container {
        width: 60%;
    }

    .documentos-de-interes .documentos {
        margin: 0 0 140px;
        padding: 0 60px;
    }
}
@media screen and (max-width: 1330px) {
    .documentos-de-interes .title-container {
        width: 60%;
    }

    .documentos-de-interes .documentos {
        margin: 0 0 140px;
        padding: 0 60px;
    }
}



@media screen and (max-width: 980px) {
    .documentos-de-interes .documentos {
        gap: 10px;
        padding: 0 30px;
    }

    .documentos-de-interes .title-container {
        width: 90%;
    }

}
@media screen and (max-width: 880px) {
    .documentos-de-interes .documentos {
        grid-template-columns: repeat(1, 1fr);
    }


}

@media screen and (max-width: 630px) {
    .documentos-de-interes .documentos {
        gap: 30px;
        margin: 0 0 140px;
        padding: 0 30px;
    }
}

@media screen and (max-width: 480px) {
    .documentos-de-interes .documentos {
        padding: 0 18px;
    }
}