.processes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.loading-msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.process {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px 20px;
    height: 505px;
    background-color: var(--light-blue-color);
}

.process .process-info h1 {
    font-size: 34px;
    margin-bottom: 30px;
}

.process .process-info p {
    max-height: 264px;
    padding: 0 10px 0 0;
    overflow-y: auto;
}

.process .process-extra-info {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.process .process-extra-info p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width : 430px) {

    .processes-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 0;
    }

    .process .process-info p {
        padding: 0;
    }


}