.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 180px 0 0;
}

.about-us .title-container {
    margin: 0;
}

.about-us .title-container h1 {
    color: var(--golden-color);
}

.about-us .title-container h3 {
    color: var(--dark-blue-color);
}

.about-us .title-container p {
    color: var(--dark-blue-color);
    font-size: 20px;
}

.our-services {
    padding: 180px 0;
}

.relevant-processes {
    padding: 85px 104px 114px;
    background-color: var(--dark-blue-color);
}

.relevant-processes .c-header-container {
    margin-bottom: 50px;

}

.relevant-processes .c-header-container h1 {
    width: 50%;
    text-align: center;
    color: var(--silver-color);

}

.relevant-processes h3 {
    color: var(--silver-color);
}

.clients-home {
    display: flex;
    justify-content: space-between;
    padding: 160px 0;
}


.clients-home .title-container {
    margin: 0;
    align-self: center;
}

.clients-home .title-container h1 {
    color: var(--golden-color);
}

.clients-home .title-container h3 {
    color: var(--dark-blue-color);
}

.clients-home .title-container p {
    font-size: 20px;
    color: var(--dark-blue-color);
}

.clients-home .title-container .secondary-btn {
    display: none;
}


.trayectoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0;
}


.trayectoria .title-container {
    margin: 0;
    align-self: center;

}

.trayectoria .title-container h1 {
    color: var(--golden-color);
}

.trayectoria .title-container h3 {
    color: var(--dark-blue-color);
}

.trayectoria .title-container p {
    font-size: 20px;
    color: var(--dark-blue-color);
}

.areas {
    background-color: var(--dark-blue-color);
    padding: 160px 124px;

}

.areas .cobertura-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 200px;
    margin: 50px 0 0;
}

.areas .cobertura-container img {
    height: 623px;

}

.areas .c-header-container {
    text-align: center;
}

.areas .c-header-container h1 {
    color: var(--silver-color);
}

.areas .c-header-container h3 {
    color: var(--silver-color);
}

.areas .c-header-container p {
    display: block;
    font-size: 20px;
    width: 60%;
}

.contact-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0;
}

.contact-us #contact-us-form {
    width: 50%;
}

.contact-us .title-container {
    margin: 0;
}

.contact-us .title-container h3 {
    color: var(--dark-blue-color);
}

.contact-us .title-container h1 {
    color: var(--golden-color);
}

@media screen and (max-width : 1390px) {

    .about-us .image-section,
    .trayectoria .image-section {
        height: 500px;
    }

    .about-us .title-container p,
    .areas .title-container p,
    .clients-home .title-container p,
    .contact-us .title-container p,
    .trayectoria .title-container p {
        font-size: 16px;
    }

    .areas .c-header-container p {
        font-size: 16px;
    }

    .contact-us .title-container {
        width: 40%;
    }

    .areas {
        padding: 50px 80px;
    }

    .areas .cobertura-container {
        gap: 0 120px;
    }

    .relevant-processes {
        padding: 50px 80px;
    }
}

@media screen and (max-width : 1033px) {

    .areas {
        padding: 50px 30px;
    }

    .areas .cobertura-container img {
        height: 500px;
    }
    .relevant-processes {
        padding: 50px 30px;
    }

}

@media screen and (max-width : 880px) {
    .about-us {
        flex-direction: column;
    }

    .about-us .title-container {
        align-self: flex-start;
        width: 60%;
    }

    .about-us img {
        display: none;
    }

    .relevant-processes {
        padding: 85px 18px 114px;
    }

    .relevant-processes .c-header-container h1 {
        width: auto;
    }

    .areas {
        flex-direction: column;
        padding: 100px 18px;
    }

    .areas .c-header-container p {
        font-size: 16px;
        width: 90%;
    }

    .areas .cobertura-container {
        flex-direction: column;
        gap: 30px 0;
    }

    .areas .cobertura-container img {
        height: 423px;
    }

    .clients-home {
        padding: 160px 0 40px;
    }

    .clients-home {
        flex-direction: column;
    }

    .clients-home .title-container {
        align-self: flex-start;
        width: 60%;
    }


    .trayectoria {
        flex-direction: column;
    }

    .trayectoria .title-container {
        align-self: flex-start;
        width: 60%;
    }

    .trayectoria img {
        display: none;
    }

    .contact-us {
        flex-direction: column-reverse;
    }

    .contact-us .title-container {
        width: 90%;
        margin-bottom: 60px;
    }

    .contact-us .title-container ul {
        padding: 0 5px;
        margin: 5px 0 10px;
    }

    .contact-us #contact-us-form {
        width: 100%;
    }


}

@media screen and (max-width : 480px) {
    .about-us {
        flex-direction: column;
    }


    .about-us .title-container {
        width: 90%;
        max-width: none;
    }

    .about-us img {
        display: none;
    }

    .about-us .title-container p {
        font-size: 16px;
        margin: 20px 0 40px;
    }


    .relevant-processes {
        padding: 85px 18px 114px;
    }

    .relevant-processes .c-header-container h1 {
        width: auto;
    }

    .clients-home {
        flex-direction: column;
    }

    .clients-home .title-container {
        align-self: flex-start;
        width: 90%;
    }

    .clients-home .title-container p {
        font-size: 16px;
    }

    .trayectoria {
        flex-direction: column;
    }

    .trayectoria .title-container {
        align-self: flex-start;
        max-width: none;
        width: 90%;

    }

    .trayectoria .title-container p {
        font-size: 16px;

    }

    .trayectoria img {
        display: none;
    }

    .areas {
        flex-direction: column;
        padding: 100px 18px;
    }

    .areas .c-header-container p {
        font-size: 16px;
        width: 90%;
    }

    .areas .cobertura-container {
        flex-direction: column;
        gap: 30px 0;
    }

    .areas .cobertura-container img {
        height: 403px;
    }

    .contact-us {
        flex-direction: column-reverse;
    }

    .contact-us .title-container {
        width: 90%;
        margin-bottom: 60px;
    }

    .contact-us .title-container ul {
        padding: 0 5px;
        margin: 5px 0 10px;
    }

    .contact-us #contact-us-form {
        width: 100%;
    }


}

@media screen and (max-width : 440px) {
    .contact-us .title-container ul li svg {
       display: none;
    }
}